@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Lora:ital,wght@1,600&family=Open+Sans:ital,wght@1,600&family=Roboto&display=swap');
/* introducir un link de cuatro fuentes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    /* background: skyblue; */
    /* añadir foto de dondo sustituyendo el color */
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(137, 66, 188);
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Lora', serif;
    font-weight: 600;
}
/* para responsive menu */
header .navbarMenu span{
    display: none;
}
header .navbar{
    position: relative;
    display: flex;
}
header .navbar li{
    list-style: none;
    margin-left: 30px;
}
header .navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}
header .navbar li a:hover{
    border-bottom: 5px solid rgb(137,66,188);
    padding: 2px;
}
/* contenido de la web */
.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.contenido .tituloBox{
    max-width: 650px;
    text-align: center;
    /* animación de carta */
    transition: 2s;
    visibility: hidden;
    opacity: 0;
}
/* animacion de texto */
/* una caja se aparecerá de izquierda a derecha cuando llega a esta página y tocarlo */
body:hover .tituloBox{
    box-shadow:0 0 30px rgb(240, 10, 10);
    border-radius: 1.5rem;
    background-image: linear-gradient(127deg,#c33763,#4568dcb5,#1d2571);
    padding: 2rem;
    max-width: 1000px;
    visibility: visible;
    opacity: 1;
}
.contenido .tituloBox h2{
    font-size: 1.5rem;
    font-family: 'Flow Circular', cursive;
    text-transform: uppercase;
    color: white;
    transition: all 2s;
}
body:hover .tituloBox h2{
    font-size: 4.5rem;
    font-family: 'Open Sans', sans-serif;
}
/* configurar el estilo inicial de los textos de la presentación */
.contenido .tituloBox p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
    font-family: 'Flow Circular', cursive;
    font-weight: 300;
    margin-bottom: 20px;
    /*  */
    transition: 2s;
}
/* cambiarán el tamaño y el fuente del texto cuando llega a esta página */
body:hover .tituloBox p{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}
/* aquí pongo mi foto de perfil circular que hay un borde rojo y otro blanco */
.contenido .imgBox{
    width: 350px;
    height: 350px;
    background-image: url(../img/figura_Perfil.jpg);
    background-size: cover;
    border: 20px solid #e9161694;
    outline:25px solid #ffffffde;
    border-radius: 50%;
}
/* Copyright */
.copyright{
    position: absolute;
    bottom: 0;
    left: 800px;
    margin-bottom: 20px;
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    color: #fff;
    text-align: center;
    margin-left: 100px;
}
/*Redes Sociales*/

.redSociales{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}
.redSociales li{
    padding: 10px;
}
.redSociales li a{
    color: #fff;
    font-size: 2.5em;
    transition: 0.3s;
}
.redSociales li:hover a{
    color: #c33763;
}
/* ********************************** */
/* circulo */
.circulo{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/quien_soy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: circle(650px at right 800px);
    width: 100%;
    height: 100%;
    z-index: -1000;
}
/* reponsive */
@media (min-width:1500px) and (max-width:1880px) and (max-height:1080px){
    .contenido .imgBox{
        width: 300px;
        height: 300px;
    }
    .contenido .tituloBox{
        max-width: 600px;
    }
    body:hover .tituloBox{
        max-width: 800px;
    }
    body:hover .tituloBox h2{
        font-size: 3rem;
    }
    body:hover .tituloBox p{
        font-size: 1.5rem;
    }
}
@media (min-width:1330px) and (max-width:1500px) {
    /*  */
    .contenido .imgBox{
        width: 250px;
        height: 250px;
        border: 10px solid #e9161694;
        outline:15px solid #ffffffde;
    }
    .contenido .tituloBox{
        max-width: 600px;
    }
    body:hover .tituloBox{
        max-width: 800px;
    }
    body:hover .tituloBox h2{
        font-size: 3rem;
    }
    body:hover .tituloBox p{
        font-size: 1.5rem;
    }
    /*  */
    .copyright{
        position: absolute;
        bottom: 0;
        left: 20px;
        margin-bottom: 0px;
        padding: 0 30px 25px;
    }
    .copyright p{
        margin-left: 350px;
    }
    .redSociales li a{
        font-size: 1.5rem;
    }
}
@media (min-width:1200px) and (max-width:1330px){

    .contenido .tituloBox h2{
        font-size: 2rem;
    }
    .contenido .tituloBox p{
        font-size: 1rem;
    }
    /*  */
    .contenido .imgBox{
        width: 200px;
        height: 200px;
        border: 10px solid #e9161694;
        outline:15px solid #ffffffde;
    }
    .contenido .tituloBox{
        max-width: 500px;
    }
    body:hover .tituloBox{
        max-width: 700px;
    }
    body:hover .tituloBox h2{
        font-size: 2rem;
    }
    body:hover .tituloBox p{
        font-size: 1rem;
    }
    /*  */
    .copyright{
        position: absolute;
        bottom: 0;
        left: 20px;
        margin-bottom: 0px;
        padding: 0 30px 30px;
    }
    .copyright p{
        margin-left: 250px;
    }
    .redSociales li a{
        font-size: 1.5rem;
    }
}
@media (min-width:850px) and (max-width:1200px){
    
    .contenido .tituloBox h2{
        font-size: 2rem;
    }
    .contenido .tituloBox p{
        font-size: 1rem;
    }
    /*  */
    .contenido .imgBox{
        position: absolute;
        left: 15%;
        top: 5%;

        width: 0px;
        height: 0px;
        border: 5px solid #e9161694;
        outline:5px solid #ffffffde;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: all 2s;
    }
    .contenido .tituloBox{
        position: relative;
        max-width: 500px;
        z-index: -1;
    }
    /*  */
    body:hover .imgBox{
        width: 50px;
        height: 50px;
        opacity: 1;
        visibility: visible;
    }
    body:hover .tituloBox{
        max-width: 700px;
    }
    body:hover .tituloBox h2{
        font-size: 2.5rem;
    }
    body:hover .tituloBox p{
        font-size: 1.5rem;
    }
    /*  */
    .copyright{
        position: absolute;
        bottom: 0;
        left: 20px;
        margin-bottom: 0px;
        padding: 0 30px 30px;
    }
    .copyright p{
        font-size: 10px;
    }
    .redSociales li a{
        font-size: 1.5rem;
    }

}
@media (min-width:670px) and (max-width:850px){
    /*  */
    section{
        display: grid;
        padding-top: 30vh;
        padding-bottom: 50px;
    }
    header{
        padding: 20px;
    }
    /* responsive menú */
    header .logo{
        font-size: 20px;
    }
    header .navbarMenu{
        position: relative;
        display: inline-block;
        z-index: 1;
    }
    header .navbarMenu span,a{
        width: 100px;
        display: inherit;
        font-size: 20px;
        color: white;
        text-decoration: none;
        transition: all 1s;
    }
    header .navbarMenu .navbar{
        width: 100px;
        display: none;
        position: absolute;
        background: rgba(255, 255, 255, 0.79);
    }
    header .navbarMenu .navbar a{
        color: #c33763;
    }
    header .navbarMenu:hover span{
        background: #c33763;
    }
    header .navbarMenu:hover .navbar{
        display: block;
    }
    header .navbarMenu:hover .navbar li{
        margin-left: 0;
        margin-bottom: 10px;
        
    }
    header .navbarMenu:hover .navbar li a{
        padding: 0;
        font-size: 1rem;
        
    }
    header .navbar li a:hover{
        background: #c33763;
        color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.712);
    }
    /*  */
    .contenido .tituloBox h2{
        font-size: 1rem;
    }
    .contenido .tituloBox p{
        font-size: 0.5rem;
    }
    /*  */
    .contenido .imgBox{
        position: absolute;
        left: 15%;
        top: 5%;

        width: 0px;
        height: 0px;
        border: 2px solid #e9161694;
        outline:2px solid #ffffffde;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 2s;
    }
    .contenido .tituloBox{
        position: relative;
        max-width: 500px;
        z-index: -1;
    }
    /*  */
    body:hover .imgBox{
        width: 30px;
        height: 30px;
        opacity: 1;
        visibility: visible;
    }
    body:hover .tituloBox{
        max-width: 700px;
    }
    body:hover .tituloBox h2{
        font-size: 2rem;
    }
    body:hover .tituloBox p{
        font-size: 1rem;
    }
    /*  */
    footer{
        display: grid;
        
    }
    .copyright{
        position: inherit;
        bottom: 0;

        margin-bottom: 0px;
        padding: 30px;
    }
    .copyright p{
        font-size: 10px;
        margin: 0;
    }
    .redSociales{
        position: inherit;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .redSociales li a{
        font-size: 1.5rem;
    }
    .circulo{
        display: none;
    }
}
@media (min-width:0px) and (max-width:670px){
    /*  */
    section{
        display: grid;
        padding-top: 30vh;
        padding-bottom: 50px;
    }
    header{
        padding: 20px;
    }
    /* responsive menú */
    header .logo{
        font-size: 20px;
    }
    /* cuando la anchura de la página se reduce por debajo de 670px, el menú desplegable aparecerá */
    header .navbarMenu{
        position: relative;
        display: inline-block;
        z-index: 1;
    }
    header .navbarMenu span,a{
        width: 100px;
        display: inherit;
        font-size: 20px;
        color: white;
        text-decoration: none;
        transition: all 1s;
    }
    header .navbarMenu .navbar{
        width: 100px;
        display: none;
        position: absolute;
        background: rgba(255, 255, 255, 0.79);
    }
    header .navbarMenu .navbar a{
        color: #c33763;
    }
    header .navbarMenu:hover span{
        background: #c33763;
    }
    /* cuando toca el menú, aparecerá sus opciones que son proyecto, quien_soy,cv y contacto etc */
    header .navbarMenu:hover .navbar{
        display: block;
    }
    header .navbarMenu:hover .navbar li{
        margin-left: 0;
        margin-bottom: 10px;
    }
    header .navbarMenu:hover .navbar li a{
        padding: 0;
        font-size: 1rem;
    }
    /* cuando elige cada una opción de menú, ello se convertirá en un pequeño cuadrado elevado */
    header .navbar li a:hover{
        background: #c33763;
        color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.712);
    }
    /*  */
    .contenido{
        padding: 0;
    }
    .contenido .tituloBox h2{
        font-size: 0.5rem;
    }
    .contenido .tituloBox p{
        font-size: 0.5rem;
    }
    /*  */
    .contenido .imgBox{
        position: absolute;
        left: 15%;
        top: 5%;

        width: 0px;
        height: 0px;
        border: 2px solid #e9161694;
        outline:2px solid #ffffffde;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 2s;
    }
    .contenido .tituloBox{
        position: relative;
        max-width: 500px;
        z-index: -1;
    }
    /*  */
    body:hover .imgBox{
        width: 30px;
        height: 30px;
        opacity: 1;
        visibility: visible;
    }
    body:hover .tituloBox{
        max-width: 700px;
    }
    body:hover .tituloBox h2{
        font-size: 1rem;
    }
    body:hover .tituloBox p{
        font-size: 0.5rem;
    }
    /*  */
    footer{
        display: grid;
        
    }
    .copyright{
        position: inherit;
        bottom: 0;

        margin-bottom: 0px;
        padding: 30px;
    }
    .copyright p{
        font-size: 10px;
        margin: 0;
    }
    .redSociales{
        position: inherit;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .redSociales li a{
        font-size: 1.5rem;
    }
    .circulo{
        display: none;
    }
}